* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    border: solid yellow;
}

.calculator {
    border: solid blue;
    /* margin: 20px auto; */
}

.specialButtons {
    width: 100px;
    border: solid red;
}

.superbuttons {
    display: flex;
    justify-content: center;
    border: solid green;
}

.numbers {
    width: 60px;
    border: solid red;
}

.functionalButtons {
    display: flex;
    flex-direction: column;
    border: solid red;
    width: 20px;
}